[Unit]
Description=Piond Docker Container
Documentation=https://github.com/pioncoin/docker-piond
After=network.target docker.socket
Requires=docker.socket

[Service]
RestartSec=10
Restart=always

# Modify IP6_PREFIX to match network config
Environment="NAME=piond"
Environment="DATA_VOL=piond-data"
Environment="IMG=pioncoin/piond:dev"
Environment="PORT=9954:9954/tcp"

# To override environment variables, use local configuration directory:
# /etc/systemd/system/docker-piond.service/local.conf
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

# Clean-up bad state if still hanging around
ExecStartPre=-/usr/bin/docker rm -f $NAME

# Attempt to pull new image for security updates
ExecStartPre=-/usr/bin/docker pull $IMG

# Main process
ExecStart=/usr/bin/docker run --rm -v ${DATA_VOL}:/pion --name ${NAME} -p ${PORT} ${IMG} pion_oneshot $ARGS

[Install]
WantedBy=multi-user.target
